.form-row {
    display: flex;
}
.input-area {
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
}
.input-container {
    position: relative;
    margin: 50px auto;
    width: 300px;
}

.input-container input[type="text"] {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #3654ff;
    padding: 5px 0;
    background-color: transparent;
    outline: none;
}

.input-container .label {
    position: absolute;
    top: 0;
    left: 0;
    color: white;
    transition: all 0.3s ease;
    pointer-events: none;
}

.input-container input[type="text"]:focus ~ .label,
.input-container input[type="text"]:valid ~ .label {
    top: -20px;
    font-size: 16px;
    color: rgb(115, 115, 115);
}

.input-container
    input[type="text"]:not(:focus):not(:placeholder-shown)
    + .label {
    color: rgb(255, 255, 255);
}

.input-container .underline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: transparent;
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
}

.input-container input[type="text"]:focus ~ .underline,
.input-container input[type="text"]:valid ~ .underline {
    background-color: #f5f5f5;
}

.input-container + .input-container {
    margin-left: 40px;
}
